<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Appointment Booking</title>
<!-- Bootstrap CSS -->
<link th:href = "@{/css/bootstrap.css}" rel="stylesheet" >
</head>
<body>

<div class="tableWrapper">
	<h1>Online Bookings</h1>
	<table class="table table-hover" th:if="${appointmentList != null AND appointmentList != ''}">
		<tr>
			<th>First Name</th>
			<th>Email</th>
			<th>Appointment Date</th>
			<th>Appointment Name</th>
		</tr>
		
<!-- th:each="s : ${studentList}"
from Simon Hood to everyone:    12:46 PM
th:text="${s.name}"
from Simon Hood to everyone:    12:46 PM
th:each="a : ${s.addresses}" -->

		<tr th:each="a : ${appointmentList}">
			<td th:text="${a.firstName}">Arianna</td>
			<td th:text="${a.email}">arianna@arianna.com</td>
			<td th:text="${a.appointmentDate}">2020-10-24</td>
			<td th:text="${a.appointmentTime}">11:11:11</td>
			<td><a th:href="@{/editAppointmentById/}+${a.id}">Edit</a></td>
			<td><a th:href="@{/deleteAppointmentById/}+${a.id}">Delete</a></td>
		</tr>
	</table>
</div>
	
<div class="container">
	<form class="form-horizontal" method="post" action="" th:action="@{/insertAppointment}" th:object="${appointment}">
		<div class="form-group">
			<input type="hidden" name="id" th:field="*{id}"/><br>
			<label class="control-label col-sm-2" for="firstName">First Name:</label>
			<input class="form-control" id="firstName" placeholder="Enter first name" type="text" name="firstName" th:field="*{firstName}" /><br>
			<label class="control-label col-sm-2" for="email">Email:</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" th:field="*{email}" /><br>
			<label class="control-label col-sm-2" for="appointmentDate">Appointment Date:</label> 
			<input class="form-control" id="appointmentDate" type="date" name="appointmentDate" th:field="*{appointmentDate}" /><br>
			<label class="control-label col-sm-2" for="appointmentTime">Appointment Time:</label>  
			<input class="form-control" id="appointmentTime" type="time" name="appointmentTime" th:field="*{appointmentTime}" /><br>
			<input class="btn btn-primary" type="submit" value="Go!"/>
		</div>
	</form>
</div>

</body>
</html>